.anasayfa-container {
  text-align: center;
  background-color: #eae8e8;
  height: calc(100vh - 40px); /* Navbar yüksekliği kadar düşülmüş */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 200px;
  height: 200px;
}
