.anasayfa-container {
  text-align: center;
  background-color: #f7ece7;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 200px;
  height: 200px;
}
